<div class="gw-seg"
     role="tablist"
     [class.gw-seg--sm]="size === 'sm'"
     [class.gw-seg--lg]="size === 'lg'"
     [class.gw-seg--block]="block"
     [class.gw-seg--invalid]="invalid"
     [class.gw-seg--disabled]="disabled()">
  @for (opt of options; track opt.value) {
    <button type="button"
            class="gw-seg__item"
            role="tab"
            [class.is-active]="isActive(opt)"
            [attr.aria-selected]="isActive(opt)"
            [disabled]="disabled() || opt.disabled || false"
            (click)="pick(opt)">
      @if (opt.icon) {
        <lucide-icon class="gw-seg__icon" [name]="opt.icon!" [size]="14" />
      }
      <span>{{ opt.label }}</span>
    </button>
  }
</div>
